@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');



@media (min-width: 1024px) {
  .lg\:text-lg {
      font-size: 1.25rem;
  }
}
  

.components {

  font-family: "Yantramanav" , sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #0d2742;
  background-color: #fff;

}






/* TO BE USED IN COMPONENTS' FILES ONLY!

How to use this module:
import styles from './project-style.module.css'; 

const Car = () => {
  return <h1 className={styles.components}>Hello Car!</h1>;
}

export default Car; */
