@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


@media (min-width: 1024px) {
  .lg\:text-lg {
      font-size: 1.25rem;
  }
}
 
.title {

  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #0d2742;
  background-color: #fff;

}

.body {

  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  color: #0d2742;
  background-color: #fff;

}

.button {

  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 2px solid rgba(99, 178, 88);
  border-radius: 8px;
  background-color: transparent;
  color: rgba(13, 39, 66);
  padding: .75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(99, 178, 88);
  color: #fff;
  transition-duration: .3s;
}

.button:active {
  background-color: rgb(62, 112, 55);
  border: 3px solid rgba(62, 112, 55);
  color: #fff;
  transition-duration: .3s;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


/* HOW TO USE THIS MODULE IN COMPONENT FILES(ONLY):
example:
import styles from './components_light.module.css'; 

const Car = () => {
  return <h1 className={styles.title}>Hello Car!</h1>;
}

export default Car; */
