@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


@media (min-width: 1024px) {
  .lg\:text-lg {
      font-size: 1.25rem;
  }
}
 
.title {

  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #0d2742;
  background-color: #fff;
  padding-bottom: 2rem;

}

.bodySmall {

  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: .75rem;
  color: #0d2742;
  background-color: #fff;
  padding: .75rem; 
  margin: 0; 
   
}

.body {

  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  color: #0d2742;
  background-color: #fff;
  /*padding: .75rem; */ 
  
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: .5rem;
 
}

.button {

  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;

  border: 2px solid #63B258;
  border-radius: 8px;
  background-color: transparent;
  color: rgba(13, 39, 66);
  padding: .75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(99, 178, 88);
  color: #fff;
  transition-duration: .3s;
}

.button:active {
  background-color: rgb(62, 112, 55);
  border: 3px solid rgba(62, 112, 55);
  color: #fff;
  transition-duration: .3s;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

.inputContainer > .errorLabel {
  color: red;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  background-color: #fff;
  padding: .75rem;  
}

.inputBox {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: grey;

  height: auto;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid lightgrey;
  padding: 6px 16px;

}


/* HOW TO USE THIS MODULE IN COMPONENT FILES(ONLY):
example:
import styles from './components_light.module.css'; 

const Car = () => {
  return <h1 className={styles.title}>Hello Car!</h1>;
}

export default Car; */
